<ion-header translucent="true">
  <ion-toolbar color="primary">
    <ion-title>About This App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHelp()" color="light">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        Help
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h2><u>Inventory Management System</u></h2>
  <p>
    This mobile app was developed as a cross-platform inventory management solution using Ionic and Angular. It enables users to add, search, and view inventory items with ease.
  </p>

  <p>
    The system integrates a RESTful API for real-time data operations and offers a professional, mobile-friendly interface.
  </p>

  <ion-text>
    <p>
      This app was built using the 
      <a href="https://ionic.io/docs" target="_blank" rel="noopener noreferrer">Ionic Framework</a>.
    </p>
    <p>
      Icons are sourced from 
      <a href="https://ionic.io/ionicons" target="_blank" rel="noopener noreferrer">Ionicons</a>.
    </p>
  </ion-text>
  

  <ion-text color="medium">
    <p style="margin-top: 2rem; font-style: italic;">
      Developed by <strong>Xavier Tissera and Hasindu</strong>
    </p>
  </ion-text>
</ion-content>
